


.diaryitem{
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: rgba(230, 187, 187, 0);
    height: 40px;
    margin-bottom: 3px;
}
.fooditem{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    background-color: rgba(255, 217, 0, 0.247);
    height: auto;
    padding: 10px;
    border-radius: 7px;
    margin-bottom: 10px;
}
.diaryitem:nth-child(even){
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: rgba(255, 217, 0, 0.247);
    height: 40px;
    margin-bottom: 3px;
}
.diaryitemlist{
    display: flex;
    flex-direction: column;
}
.diaryitem:nth-child(1){
    color: rgb(0, 0, 150);
}
.sugardiarylist{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.dawadiarylist{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.insulinidiarylist{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.foodlist{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.sugarpart{
    width: 19.5%;
    font-size: 14px;
    font-weight: light;
}
.sugarpart:nth-child(1), .sugarpart:nth-child(5), .sugarpart:nth-child(3){
    font-weight: bold;
}
.dawapart{
    width: 40%;
    font-size: 14px;
    font-weight: bold;
}
.insulinipart{
    width: 28%;
    overflow: hidden;
    padding-left: 2px;
    white-space: nowrap;
    font-size: 14px;
    font-weight: light;
}
.insulinipart .number{
    font-weight: bold;
}
.foodpart{
    width: 100%;
    background-color: rgba(128, 128, 128, 0);
    font-size: 15px;
    margin-bottom: 3px;
    font-weight: light;
}
.clinicpart{
    width: 48%;
    font-size: 14px;
    overflow: hidden;
    margin-left: 3px;
    margin-bottom: 3px;
    font-weight: light;
}
.insulinipart:nth-child(4){
    width: 80px;
    font-size: 14px;
    font-weight: bold;
}
.dawapart:nth-child(3), .dawapart:nth-child(2), .dawapart:nth-child(4){
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80px;
    max-width: 80px;
    font-size: 13px;
    font-weight: bold;
}
.dawapart:nth-child(1){
    overflow: hidden;
    white-space: nowrap;
}

.listdelete{
    font-size: 10px;
    color: rgb(116, 115, 115);
    padding: 2px;
    background-color: white;
    cursor: pointer;
}
.totalunits{
    border: none;
    font-weight: bold;
}
.sukarilevel select{
    height: 42px;
}
.insulinidiarylist em{
    font-size: 10px;
    color: grey;
}
.dawadiarylist em{
    font-size: 10px;
    color: grey;
}
.foodpart em{
    font-size: 10px;
    color: grey;
}
.foodpart span{
    font-size: 14px;
    font-weight: bold;
    color: rgb(0, 0, 0);
}
.dawaimage{
    width: 35px;
    max-width: 35px;
    height: 35px;
    overflow: hidden;
}
.dawaimage img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.enddays{
    display: none;
    font-size: 12px;
}
.reminderbox{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 60px;
    font-size: 13px;
    line-height: 16px;
    padding: 5px;
    width: 200px;
    border: 1px solid rgba(0, 0, 0, 0.144);
    border-radius: 3px;
}
.remindericon{
    height: 50px;
    width: 50px;
    min-width: 50px;
    margin-right: 7px;
    background-color: rgba(128, 128, 128, 0);
}
.reminderbox p{
    margin: 0px;
}
.remindericon img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.reminderdiv .splide__pagination{
    bottom: 0px;
    color: rgb(0, 0, 0);
}
.reminderdiv .splide__slide{
    padding-bottom: 20px;
}
.reminderdiv .splide__pagination__page{
    height: 2px;
    border-radius: 0px;
    background-color: rgba(0, 0, 255, 0.205);
}
.reminderdiv .splide__pagination .is-active{
    height: 2px;
    border-radius: 0px;
    background-color: rgb(0, 0, 255);
}
.asqformdiv label{
    font-size: 14px;
}
.reminderdiv a{
    color: black;
}

 



















@media (max-width: 764px) {
    .reminderhead{
        font-size: 14px;
    }
    .sugarpart{
        width: 20%;
        font-size: 12px;
        font-weight: light;
    }
    .dawapart{
        width: 40%;
        font-size: 12px;
        font-weight: bold;
    }
    .insulinipart{
        width: 28%;
        font-size: 12px;
        overflow: hidden;
        font-weight: light;
    }
    .insulinipart:nth-child(4){
        width: 60px;
        min-width: 60px;
        font-size: 12px;
        font-weight: light;
    }
    .dawapart:nth-child(3), .dawapart:nth-child(2), .dawapart:nth-child(4){
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 70px;
        max-width: 70px;
        font-size: 12px;
        font-weight: bold;
    }
    .clinicpart{
        width: 48%;
        background-color: rgba(128, 128, 128, 0);
        font-size: 12px;
        margin-bottom: 3px;
        font-weight: light;
    }
}
@media (max-width: 450px) {
    .clinicpart{
        width: 48%;
        background-color: rgba(128, 128, 128, 0);
        font-size: 12px;
        margin-bottom: 3px;
        font-weight: light;
    }
    .asqformdiv label{
        font-size: 13px;
    }
    .sugarpart{
        width: 24%;
        font-size: 10px;
        font-weight: light;
    }
    .diarylinebar{
        width: 10px;
        background-color: brown;
        margin-right: 5px;
    }
    .insulinipart{
        width: 28%;
        overflow: hidden;
        margin: 2px;
        white-space: nowrap;
        font-size: 11px;
        font-weight: light;
    }
}
@media (max-width: 350px) {
    .sugarpart{
        width: 24%;
        font-size: 10px;
        font-weight: light;
    }
    .dawapart{
        width: 30%;
        font-size: 10px;
        font-weight: bold;
    }
    .sugarpart:nth-child(3){
        display: none;
    }
    .clinicpart{
        width: 48%;
        font-size: 10px;
        overflow: hidden;
        margin-left: 3px;
        margin-bottom: 3px;
        font-weight: light;
    }
    
}

@media (max-width: 428px) {
.reminderbox{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 45px;
    font-size: 11px;
    line-height: 13px;
    padding: 3px;
    width: 170px;
    overflow: hidden;
    border: 1px solid rgba(0, 0, 0, 0.144);
    border-radius: 3px;
}
.reminderbox p{
    margin: 0px;
}
.remindericon{
    height: 35px;
    width: 35px;
    min-width: 35px;
    margin-right: 7px;
    background-color: rgba(128, 128, 128, 0);
}
}