
  


 .autherimage{
    height: 120px;
    width: 120px;
    min-width: 120px;
    border-radius: 50%;
    overflow: hidden;
    background-color: grey;
 }
 .autherimage i{
  position: absolute;
  margin-top: 80px;
  margin-left: 95px;
  font-size: 30px;
 }
 .autherimage img{
  position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 2;
 }
 .lessonautherimage{
  height: 35px;
  width: 35px;
  min-width: 35px;
  border-radius: 50%;
  overflow: hidden;
  background-color: grey;
}
.lessonautherimage img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.lessonautherimage i{
  position: absolute;
  margin-top: 20px;
  margin-left: 25px;
  font-size: 15px;
 }
 .authorprofileimage{
  height: 200px;
  width: 200px;
  min-width: 200px;
  border-radius: 50%;
  overflow: hidden;
  margin-top: 30px;
  background-color: grey;
}
.authorprofileimage img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.authorprofileimage i{
  position: absolute;
  margin-top: 145px;
  margin-left: 160px;
  font-size: 40px;
 }
 .autherdetail{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0px 0px 20px 0px;
 }
 .authorprofiledetail{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0px 0px 20px 0px;
 }
 .authorprofiledetails{
  display: flex;
  flex-direction: column;
  text-align: center;
}
 .autherdetails{
    display: flex;
    flex-direction: column;
    margin: 0px 0px 10px 20px;
 }
 .userdetails{
  display: flex;
  flex-direction: column;
  margin: 0px 0px 30px 0px;
}
.userdetail{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 0px;
  padding: 10px 3px 10px 2px;
  justify-content: space-between;
}
.userdetail:nth-child(odd){
  background-color: rgba(178, 231, 255, 0.253);

}
.userdetails p{
  margin: 0px 0px 0px 0px;
  line-height: 1.2;
  font-size: 15px;
}
 .det1{
  width: 80px;
  margin-right: 10px;
  overflow: hidden;
  white-space: nowrap;
 }
 .autherdetails p{
    margin: 0px 0px 0px 0px;
    line-height: 1.2;
    font-size: 15px;
 }
.lessontitle{
    font-weight: bold;
    margin-top: 0px;
    padding-top: 0px;
}
 .lessontopicimage{
  position: relative;
    height: 200px;
    width: 180px;
    min-width: 180px;
    overflow: hidden;
    border-radius: 4px;
    margin-right: 15px;
    background-color: rgb(255, 0, 0);
 }
 .lessontopicimage img{
    height: 100%;
    width: 100%;
    min-width: 100%;
    object-fit: cover;
 }
 .lockscreen{
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: blur(0px);
  z-index: 1;
 }
 .lockscreen i{
  font-size: 20px;
  align-self: flex-end;
  color: black;
  margin: 10px 10px 0px 0px;
 }
 .return{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    margin-right: 10px;
    margin-bottom: 2px;
    height: 25px;
    width: 25px;
    max-width: 25px !important;
    color: white;
    border-radius: 50%;
    background-color: #d9232d;
}
.share{
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  margin-right: 10px;
  margin-bottom: 2px;
  height: 25px;
  min-height: 25px;
  width: 25px;
  max-width: 25px;
  color: #d9232d;
  border-radius: 50%;
  background-color: #d9232c00;
}
.return:hover{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    margin-right: 10px;
    margin-bottom: 2px;
    height: 25px;
    width: 25px;
    max-width: 25px;
    color: white;
    border-radius: 50%;
    background-color: #d9232d;
}
.blog .blog-author h4 {
    font-weight: 600;
    font-size: 19px;
    margin-bottom: 0px;
    padding: 0;
    color: #556270;
  }
.blog-author:hover{
    background-color:  #217dbb25 ;
}

.lessoncontent span{
    font-size: 16px;
    font-weight: 700;
    color: #556270;
    text-transform: uppercase;
}

/*chatting div*/
.chatdiv{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.sendertext form{
  display: flex;
  justify-content: flex-end;
}
.chatdelete{
  background-color: transparent;
  margin: 0px 3px 3px 0px;
  border: none;
 background-color: rgba(255, 255, 0, 0);
}

#chat-container {
  height: 75vh; /* Adjust height as needed */
  overflow-y: scroll;
}

#chat-messages {
  display: flex;
  flex-direction: column-reverse; /* Reverse the order of messages */
  margin-right: 2px;
}
#chat-container::-webkit-scrollbar {
  width: 1px; /* Set the width of the scrollbar */
}

#chat-container::-webkit-scrollbar-thumb {
  background-color: #d9232d; /* Color of the scrollbar thumb */
  border-radius: 4px; /* Rounded corners for the thumb */
}

#chat-container::-webkit-scrollbar-track {
  background-color: #ffffff; /* Color of the scrollbar track */
}
.text:empty {
    display: none; /* Hide the empty paragraphs */
  }
.sendertext{
    display: flex;
    flex-direction: column;
    margin-bottom: 0px;
}

.repliedtext{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}
.sendertext p{
    background-color: #fff89a;
    padding: 10px 20px 10px 20px;
    max-width: 90%;
    color: black;
    align-self: flex-end;
    margin-bottom: 0px;
    border-radius: 10px;

}
.sendersimage{
  width: 50%;
  height: auto;
  margin-top: 2px;
  border-radius: 10px;
  align-self: flex-end;
  object-fit: cover;
}
.imageToClick{
  cursor: pointer;
}
.repliedtext p{
    background-color: #bbecfa;
    padding: 10px 20px 10px 20px;
    max-width: 90%;
    color: black;
    align-self: flex-start;
    margin-bottom: 0px;
    border-radius: 10px;
}
.replyimage {
  width: 50%;
  height: auto;
  margin-top: 2px;
  border-radius: 10px;
  align-self: flex-start;
  object-fit: cover;
}
.sendertext span{
    align-self: flex-end;
    background-color: #e2f1f800;
    padding: 0px;
    font-size: 10px;
    margin: 0px 3px 3px 0px;
    border-radius: 10px;

}
.asqformdivelements{
  display: flex;
  flex-direction: column;
  height: auto;
  background-color: green;
}
.asqinput{
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    bottom: 15px;
    width: auto;
    left: 0px;
    right: 0px;
}
.asqinput input{
    width: 70%;
    height: 50px;
    outline: none;
    padding: 0px 10px 0px 10px;
    border-top: 1px solid rgb(0, 140, 255);
    border-left: 1px solid rgb(0, 140, 255);
    border-bottom: 1px solid rgb(0, 140, 255);
    border-right: 0px solid rgb(0, 140, 255);
    border-radius: 5px 0px 0px 5px;
    box-shadow: 0 2px 26px rgba(0, 0, 0, 0.212);
}
/* Style for the button */
.custom-file-input {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  max-height: 50px;
  max-width: 50px;
  background-color: rgb(255, 255, 255);
  border-top: 1px solid rgb(0, 140, 255);
    border-left: 0px solid rgb(0, 140, 255);
    border-bottom: 1px solid rgb(0, 140, 255);
    border-right: 1px solid rgb(0, 140, 255);
  overflow: hidden;
  cursor: pointer;
}

/* Style for the hidden file input */
.file-input {
  position: absolute;
  align-self: center;
  background-color: rgba(255, 192, 203, 0);
  display: flex;
  font-size: 100px;
  right: 0;
  top: 0;
  opacity: 0;
  cursor: pointer;
}

/* Additional styles for button appearance */
.custom-file-input .button-text {
  text-align: center;
  padding: 0px;
  margin: 0px;
  color: black;
  font-size: 25px;
  border-radius: 0px;
  display: inline-block;
}

/* Add your icon style */
.custom-file-input .icon {
  /* Add your icon styles here */
  margin-right: 5px;
}
/* Style for the image preview */
.imageinputpreview{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: auto;
  background-color: white;
  border-top: 1px solid rgb(0, 140, 255);
  border-bottom: 1px solid rgb(0, 140, 255);
}
.image-preview {
  height: 30px;
  width: auto;
  max-height: 30px;
  border-radius: 2px;
  display: none;
}
.asqinput button{
  display: flex;
  justify-content: center;
  align-items: center;
    height: 50px;
    width: 50px;
    font-size: 25px;
    border: none;
    background-color: blue;
    color: white;
    border-radius: 0px 5px 5px 0px;
}

/*sign up*/
.form-group label{
    margin-bottom: 5px;
}
.show{
    display: flex;
    align-items: center;
    border: none;
    padding: 0px;
    margin: 2px 0px 0px 0px;
    font-size: 13px;
    color: blue;
    cursor: pointer;
    background-color: transparent;
}
.hide{
    display: none;
    align-items: center;
    border: none;
    padding: 0px;
    margin: 2px 0px 0px 0px;
    font-size: 13px;
    color: blue;
    cursor: pointer;
    background-color: transparent;
}
.form-group i{
    margin-left: 10px;
}
.lessontitle button{
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
  margin-left: 20px;
  padding: 0px;
  height: auto;
}
.lessontitle i{
  font-size: 20px;
}
.lessontitle i:hover{
  color: #d9232d;
}
.changecode{
  border: none;
  padding: 0px;
  background-color: transparent;
}
.changecode p{
  margin: 0px;
}
.settingsdiv{
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

/* The switch - the box around the slider */
.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 2em;
  margin-left: 20px;
  height: 20px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  --background: black;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--background);
  transition: .5s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  border-radius: 50%;
  left: 10%;
  bottom: 15%;
  box-shadow: inset 8px -4px 0px 0px gold;
  background: var(--background);
  transition: .5s;
}

input:checked + .slider {
  background-color: white;
}

input:checked + .slider:before {
  transform: translateX(100%);
  box-shadow: inset 15px -4px 0px 15px gold;
}

.autherdetails a{
  color: black ;
}
.autherdetails a:hover{
  color: blue ;
}


/*authors profile*/
.authorquote{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.quoteicon{
  height: 50px;
  width: 50px;
  overflow: hidden;
}
.quoteicon img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.listdetails h4{
  font-family: 'Roboto', sans-serif;

}

/*to view an image in q&a*/
.imagemodal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
}

.imagemodal img {
  max-width: 90%;
  max-height: 80%;
  border: 2px solid #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}


/*about kisukari*/
.aboutimagedetails{
  display: flex;
  flex-direction: row;
}
.aboutimage{
  height: auto;
  max-width: 400px;
  min-width: 0px;
  overflow: hidden;
  margin-right: 30px;

}
.aboutimage img{
  height: auto;
  width: 100%;
  object-fit: cover;
  
}
.reference summary{
  color: black;
  margin-top: 70px;
  font-weight: bold;
}
.reference p{
  color: black;
  font-size: 12px;
}
















@media (max-width: 991px) {
    .blog .blog-author p {
        color: black;
        margin: 0px;
        max-height: 144px;
        overflow: hidden;
      }
      .aboutimagedetails{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
      }
      .aboutimage{
        height: auto;
        width: 100%;
        min-width: 100%;
        overflow: hidden;
        margin-right: 0px;
        margin-bottom: 20px;
      
      }
      .welcomenote{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        margin-top: 90px;
        height: 50px;
      }
      .searchdiv{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        height: 45px;
        width: 100%;
      }
}



 @media (max-width: 764px) {
  .lessonautherimage{
    height: 35px;
    width: 35px;
    min-width: 35px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
    background-color: grey;
  }
  .lockscreen i{
    font-size: 15px;
    align-self: flex-end;
    color: black;
    margin: 10px 10px 0px 0px;
   }
    .autherdetails p{
        margin: 0px 0px 0px 0px;
        line-height: 1.2;
        font-size: 13px;
     }
     .quoteicon{
      height: 30px;
      width: 30px;
      overflow: hidden;
    }
     .userdetails p{
      margin: 0px 0px 0px 0px;
      line-height: 1.2;
      font-size: 13px;
    }
     .lessontitle{
        font-weight: bold;
        margin-top: 0px;
        padding-top: 0px;
        font-size: 19px;
    }
    .autherdetails{
        display: flex;
        flex-direction: column;
        margin: 10px 0px 10px 0px;
     }
     .autherdetail{
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      margin: 0px 0px 20px 0px;
   }
    .return{
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        margin-right: 10px;
        margin-bottom: 2px;
        height: 25px;
        width: 25px;
        max-width: 25px !important;
        color: white;
        border-radius: 50%;
        background-color: rgba(128, 128, 128, 0.568);
    }
    .lessontopicimage{
        height: 130px;
        width: 100px;
        min-width: 100px;
        overflow: hidden;
        border-radius: 4px;
        margin-right: 15px;
        background-color: grey;
     }
     .blog .entry .entry-title {
        font-size: 24px;
        font-weight: bold;
        padding: 0;
        margin: 0 0 10px 0;
      }
      .blog .blog-author h4 {
        font-weight: 600;
        font-size: 15px;
        margin-bottom: 0px;
        padding: 0;
        color: #556270;
      }
      .lesson-img {
        width: 100%;
        height: 300px;
        margin: 5px 0px 20px 0px;
        overflow: hidden;
      }
      .blog .blog-author p {
        color: black;
        margin: 0px;
        font-size: 14px;
        max-height: 104px;
        overflow: hidden;
      }
      .sendertext p{
        background-color: #fff89a;
        padding: 10px 20px 10px 10px;
        max-width: 90%;
        font-size: 15px;
        align-self: flex-end;
        border-radius: 10px;
    
    }
    .repliedtext p{
      background-color: #bbecfa;
        padding: 10px 20px 10px 6px;
        max-width: 90%;
        font-size: 15px;
        align-self: flex-start;
        border-radius: 10px;
    }
    .asqinput input{
        width: 75%;
        height: 40px;
        outline: none;
        padding: 0px 10px 0px 10px;
        border-top: 1px solid rgb(0, 140, 255);
        border-left: 1px solid rgb(0, 140, 255);
        border-bottom: 1px solid rgb(0, 140, 255);
        border-right: 0px solid rgb(0, 140, 255);
        border-radius: 5px 0px 0px 5px;
        box-shadow: 0 2px 26px rgba(0, 0, 0, 0.212);
    }
    .asqinput button{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        width: 40px;
        max-width: 40px;
        font-size: 25px;
        margin-right: 0px;
        border: none;
        background-color: blue;
        color: white;
        border-radius: 0px 5px 5px 0px;
    }
    .custom-file-input {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 40px;
      width: 40px;
      max-height: 40px;
      max-width: 40px;
      background-color: rgb(255, 255, 255);
      border-top: 1px solid rgb(0, 140, 255);
        border-left: 0px solid rgb(0, 140, 255);
        border-bottom: 1px solid rgb(0, 140, 255);
        border-right: 1px solid rgb(0, 140, 255);
      overflow: hidden;
      cursor: pointer;
    }
    .imageinputpreview{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 40px;
      width: auto;
      border-top: 1px solid rgb(0, 140, 255);
      border-bottom: 1px solid rgb(0, 140, 255);
    }
    .image-preview {
      height: 30px;
      width: auto;
      max-height: 30px;
      border-radius: 2px;
      display: none;
    }
    .lessontitle i{
      font-size: 16px;
    }
 }

 @media (max-width: 575px) {
  .chat-header{
    display: none !important;
  }
    .autherimage{
        height: 90px;
        width: 90px;
        min-width: 90px;
        border-radius: 50%;
        margin-right: 0px;
        overflow: hidden;
        background-color: grey;
     }
     .autherimage i{
      position: absolute;
      margin-top: 60px;
      margin-left: 70px;
      font-size: 25px;
     }
     .autherdetails{
        display: flex;
        flex-direction: column;
        margin: 10px 0px 10px 0px;
     }
    .lessontopicimage{
        height: 110px;
        width: 90px;
        min-width: 90px;
        overflow: hidden;
        border-radius: 4px;
        margin-right: 10px;
        background-color: grey;
     }
     .lesson-img {
        width: 100%;
        height: 280px;
        margin: 5px 0px 20px 0px;
        overflow: hidden;
      }
     .blog .blog-author {
        padding: 0px;
        margin-bottom: 30px;
        box-shadow: 0 4px 16px rgba(0, 0, 0, 0);
      }
      .blog .blog-author h4 {
        font-weight: 600;
        font-size: 15px;
        margin-bottom: 0px;
        padding: 0;
        color: #556270;
      }
      .blog .entry .entry-content p {
        line-height: 24px;
        font-size: 14px;
      }
      .blog .blog-author p {
        color: black;
        margin: 0px;
        font-size: 14px;
        max-height: 62px;
        overflow: hidden;
      }
      .blog .entry .entry-title {
        font-size: 20px;
        font-weight: bold;
        padding: 0;
        margin: 0 0 10px 0;
      }
      
    .asqinput{
        display: flex;
        position: fixed;
        justify-content: center;
        align-items: center;
        bottom: 55px;
        width: auto;
        left: 0px;
        right: 0px;
    }
    
   
 }

 @media (max-width: 520px) {
  .asqinput input{
    width: 75%;
    height: 40px;
    outline: none;
    padding: 0px 10px 0px 10px;
    border-top: 1px solid rgb(0, 140, 255);
    border-left: 1px solid rgb(0, 140, 255);
    border-bottom: 1px solid rgb(0, 140, 255);
    border-right: 0px solid rgb(0, 140, 255);
    border-radius: 5px 0px 0px 5px;
    box-shadow: 0 2px 26px rgba(0, 0, 0, 0.212);
}
 }

 @media (max-width: 450px) {
    .blog .blog-author h4 {
        font-weight: 600;
        font-size: 14px;
        margin-bottom: 0px;
        padding: 0;
        color: #556270;
      }
      .blog .blog-author p {
        color: black;
        margin: 0px;
        font-size: 14px;
        max-height: 62px;
        overflow: hidden;
      }
      .lesson-img {
        width: 100%;
        height: 250px;
        margin: 5px 0px 20px 0px;
        overflow: hidden;
      }
      
      
 }

  