

.library{
    padding-bottom: 30px;
    padding-top: 20px;
}
.container h4{
    font-family:'Roboto', sans-serif;
    margin-bottom: 15px;
    font-size: 28px;
}
.slide{
    margin-bottom: 60px;
}
.topic{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    height: 300px;
    width: 250px;
    max-height: 300px;
    max-width: 250px;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0);
}
.topiclockscreen{
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: blur(3px);
  z-index: 1;
 }
 .topiclockscreen i{
  font-size: 20px;
  align-self: flex-end;
  color: black;
  margin: 10px 10px 0px 0px;
 }

.titlediv{
    display: flex;
    position: absolute;
    z-index: 2;
    width: 250px;
}

.gradient-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px; /* Height of the gradient overlay */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7)); /* Adjust opacity as needed */
  }
.topic p{
    margin: 0px 5px 10px 5px;
    line-height: 26px;
    font-size: 19px;
    color: rgb(54, 54, 54);
}
.librarytopic p{
  margin: 0px 5px 10px 5px;
  line-height: 26px;
  font-size: 19px;
  color: rgb(54, 54, 54);
}
.topicimage{
    height: 100%;
    width: 100%;
    overflow: hidden;
    z-index: 0;
}
.topicimage img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.slide .splide__pagination__page{
    background-color: orangered;
    bottom: 0px;
}
.slide .splide__pagination__page.is-active{
    background-color: black;
    bottom: 0px;
}



.splide__slide{
    cursor: grab;
    margin: 0px;
}

.headbuttons{
    display: flex;
    flex-direction: row;
    height: 38px;
    margin: 10px 0px 25px 0px;
}
.headbuttons p{
    margin: 0px;
}
.headbutton1{
    margin: 0px 20px 0px 0px;
    border-radius: 22px;
    height: 34px;
    font-size: 14px;
    border: none;
    color: black;
    font-weight: bold;
    padding: 0px 15px 0px 15px ;
}
.headbutton1 i{
  margin-left: 3px;
  color: goldenrod;
}
.headbutton2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 34px;
    font-size: 14px;
    margin: 0px 20px 0px 0px;
    border-radius: 22px;
    border: none;
    color: white;
    font-weight: bold;
    background-color: #d12727;
    padding: 0px 15px 0px 15px ;
}
.headbutton1:hover{
    margin: 0px 20px 0px 0px;
    border-radius: 22px;
    border: none;
    color: white;
    font-weight: bold;
    padding: 0px 15px 0px 15px ;
    background-color: rgb(255, 33, 33);
    transition: 300ms;
}
.headbutton2:hover{
    margin: 0px 20px 0px 0px;
    border-radius: 22px;
    border: none;
    color: white;
    font-weight: bold;
    padding: 0px 15px 0px 15px ;
    background-color: rgb(255, 33, 33);
    transition: 300ms;
}

.mobilenav{
    display: none;
    position: fixed;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 44px;
    bottom: 0px;
    background-color: white;
    z-index: 1000;
}

.phonenumber{
    font-family:'Roboto', sans-serif;
    color: white;
}
.asqquestion{
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    border: none;
    border-radius: 4px;
    bottom: 100px;
    height: 40px;
    width: 40px;
    right: 15px;
    z-index: 1;
    background-color: rgb(0, 102, 255);
}


  
  .svgIcon {
    fill: rgb(214, 178, 255);
  }
  
  .icon2 {
    width: 18px;
    height: 5px;
    border-bottom: 2px solid rgb(182, 143, 255);
    border-left: 2px solid rgb(182, 143, 255);
    border-right: 2px solid rgb(182, 143, 255);
  }
  
  .tooltip {
    position: absolute;
    right: 60px;
    opacity: 0;
    background-color: rgb(12, 12, 12);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    transition-duration: .2s;
    pointer-events: none;
    letter-spacing: 0.5px;
  }
  
  .tooltip::before {
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    background-color: rgb(12, 12, 12);
    background-size: 1000%;
    background-position: center;
    transform: rotate(45deg);
    right: -5%;
    transition-duration: .3s;
  }
  
  .asqquestion:hover .tooltip {
    opacity: 1;
    transition-duration: .3s;
  }
  
  .asqquestion:hover {
    background-color: rgb(150, 94, 255);
    transition-duration: .3s;
  }
  
  .asqquestion:hover .icon2 {
    border-bottom: 2px solid rgb(235, 235, 235);
    border-left: 2px solid rgb(235, 235, 235);
    border-right: 2px solid rgb(235, 235, 235);
  }
  
  .asqquestion:hover .svgIcon {
    fill: rgb(255, 255, 255);
    animation: slide-in-top 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }
  
  @keyframes slide-in-top {
    0% {
      transform: translateY(-10px);
      opacity: 0;
    }
  
    100% {
      transform: translateY(0px);
      opacity: 1;
    }
  }
  /*loadmore button*/
  .load{
    display: flex;
    width: 100%;
    justify-content: center;
  }
  /* Styling for the button */
.load-more-btn {
    display: flex;
    padding: 3px 12px;
    margin: 0px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #3498db;
    border: 2px solid #3498db;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  }
  
  /* Hover effect */
  .load-more-btn:hover {
    background-color: #2980b9;
    border-color: #2980b9;
  }
  
  /* Active/focus effect */
  .load-more-btn:active,
  .load-more-btn:focus {
    outline: none;
    background-color: #217dbb;
    border-color: #217dbb;
  }
  .load-more-btn.hide {
    display: none; /* Hide the button when all items are displayed */
  }
  
/*search form*/
.search-form{
    background: #ff000000;
    border: 1px solid #ddd;
    padding: 3px 10px;
    position: relative;
    width: 40% ;
  }
  
  .search-form form input[type=text] {
    background-color: rgba(255, 255, 255, 0);
    outline: none;
    border: 0;
    padding: 4px;
    border-radius: 4px;
    width: 100% ;
  }
  .search-form form button {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    border: 0;
    background: none;
    font-size: 16px;
    padding: 0 15px;
    margin: -1px;
    background: rgb(74, 74, 255);
    color: #fff;
    transition: 0.3s;
    border-radius: 0 4px 4px 0;
    line-height: 0;
  }
  
  .search-form form button i {
    line-height: 0;
  }
  
  .search-form form button:hover {
    background: #de323c;
  }




/*reply form*/
.asqformdiv{
    display: none;
    position: fixed;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.575);
}
.closetag{
    display: flex;
    position: absolute;
    right: 10px;
    padding: 2px;
    cursor: pointer;
}
.asqclosediv{
    display: flex;
    position: absolute;
   width: 100%;
   height: 100%;
   z-index: 1;
    background-color: rgba(255, 255, 255, 0);
}
.reply-form {
    display: flex;
    position: absolute;
    width: auto;
    flex-direction: column;
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 20px;
    background-color: white;
    z-index: 100;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  }
  
.reply-form h4 {
    font-weight: bold;
    font-size: 22px;
  }
  
.reply-form p {
    font-size: 14px;
  }
  
.reply-form input {
    border-radius: 4px;
    padding: 10px 10px;
    font-size: 14px;
  }
  
.reply-form input:focus {
    box-shadow: none;
    border-color: #e9797f;
  }
  
.reply-form textarea {
    border-radius: 4px;
    padding: 10px 10px;
    font-size: 14px;
  }
  
.reply-form textarea:focus {
    box-shadow: none;
    border-color: #e9797f;
  }
  
.reply-form .form-group {
    margin-bottom: 25px;
  }
  
.reply-form .btn-primary {
    border-radius: 4px;
    padding: 10px 20px;
    border: 0;
    background-color: #217dbb ;
  }
  
.reply-form .btn-primary:hover {
    background-color: #d9232d;
  }
  .responceicon i{
    font-size: 15px;
    margin: 0px;
    color: #d9232d;
    padding-top: 10px;
    padding-left: 3px;
  }

/*loader*/
.loadingdiv{
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  z-index: 1060;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgb(37, 37, 37);
}
@keyframes animate8345 {
  0%,100% {
    filter: hue-rotate(0deg);
  }

  50% {
    filter: hue-rotate(360deg);
  }
}

.loader {
  color: rgb(0, 0, 0);
  background: linear-gradient(to right, #2d60ec, #3ccfda);
  font-size: 30px;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  animation: animate8345 9s linear infinite;
  font-weight: bold;
}

/*library*/
.librarydiv{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 20px;
  column-gap: 14px;
  
}
.librarytopic{
  display: none;
  flex-direction: column;
  justify-content: end;
  height: auto;
  width: 24%;
  min-width: 250px;
  overflow: hidden;
  cursor: pointer;
}
.homelibrarytopic{
  display: flex;
  flex-direction: column;
  justify-content: end;
  height: auto;
  width: 24%;
  min-width: 250px;
  overflow: hidden;
  cursor: pointer;
}

.librarytopictitle p{
  margin: 5px 5px 5px 0px;
  white-space: nowrap;
  line-height: 26px;
  font-size: 16px;
  overflow: ellipsis;
  color: rgb(54, 54, 54);
}
.librarytopicimage{
  position: relative;
  height: 300px;
  max-height: 300px;
  width: 100%;
  overflow: hidden;
  border-radius: 0px;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.3);
  z-index: 0;
}
.librarylockscreen{
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: blur(3px);
  z-index: 1;
 }
 .librarylockscreen i{
  font-size: 20px;
  align-self: flex-end;
  color: black;
  margin: 10px 10px 0px 0px;
 }
.librarytopicimage img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.lib {
  display: none;
  flex-direction: column;
  margin-top: 20px;
  position: relative;
}
.librarytopic:nth-child(-n+8) {
  display: flex;
}


/*Q&A*/
.comentsectiondiv{
  display: flex;
  flex-direction: column;
  padding-left: 50px;
  height: auto;
  width: 100%;
}
.commentsbuttons{
  display: flex;
  flex-direction: row;
  gap: 4px;
  height: 30px;
}
.commentsbuttons button{
  border: none;
  background-color: transparent;
  font-size: 14px;
}
.commentsbuttons button i{
  color: rgb(174, 174, 177);
  font-size: 16px;
}
.commentsbuttons button:hover > i {
  color: red;
}
.commentlist{
  display: none;
  flex-direction: column;
  width: 100%;
  height: auto;
  padding-top: 3px;
}
.commentitem{
  display: none;
}
.commentitem:nth-child(-n+6) {
  display: flex;
}
.comentsectiondiv #viewmore{
  border: none;
  background-color: transparent;
  color: blue;
  font-size: 13px;
}

.commentformdiv{
  display: none;
  position: fixed;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.575);
}

.form-group em{
  color: red;
}
.notification{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  height: 40px;
  width: 45px;
  margin-right: 7px;
  margin-left: 10px;
  background-color: transparent;
}
.fa-bell{
  font-size: 20px;
  color: black;
}
.notificationcounter{
  position: absolute;
  margin-left: 23px;
  height: 20px;
  width: auto;
  font-size: 12px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  color: red;
  background-color: transparent;
  border-radius: 50%;
}
.notificationdiv{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: flex-end;
  align-items: flex-start;
  z-index: 10;
}
.closenotify{
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0);
}
.notificationsection{
  display: flex;
  flex-direction: column;
  width: 350px;
  min-width: 350px;
  height: 100%;
  overflow-y: scroll;
  margin-top: 70px;
  padding: 15px 5px 65px 5px;
  background-color: white;
}
.notificationsection a{
  color: black;
}
.notificationbox{
  display: flex;
  flex-direction: row;
  background-color: rgba(128, 128, 128, 0.089);
  border-radius: 0px;
  padding-right: 4px;
  margin-bottom: 15px;
  border: 1px solid rgba(0, 0, 0, 0.021);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}
.notificationbox:nth-child(even){
  background-color: rgba(255, 247, 222, 0.767);
}
.notificationbox:nth-child(odd){
  background-color: rgba(227, 255, 255, 0.377);
}
.sideline{
  height: auto;
  width: 8px;
  min-width: 8px;
  margin-right: 5px;
  background-color: rgb(255, 187, 0);
}
.notificationbox:nth-child(odd) .sideline {
  background-color: rgb(162, 224, 245);
}
.notificationhead p{
  line-height: 18px;
  margin-bottom: 3px;
  margin-top: 4px;

}

.notifydetails{
  font-size: 14px;
  line-height: 18px;
  margin-top: 0px;
  margin-bottom: 5px;
}
.notificationhead b{
  font-size: 15px;
  line-height: 10px;
}
.notificationhead em{
  font-size: 12px;
}
.notificationsection::-webkit-scrollbar {
  width: 3px; /* Set the width of the scrollbar track */
}

.notificationsection::-webkit-scrollbar-thumb {
  background-color: gold; /* Set the color of the scrollbar thumb */
  border-radius: 5px; /* Optional: add rounded corners to the thumb */
}

.notificationsection::-webkit-scrollbar-track {
  background-color: #f0f0f0; /* Set the color of the scrollbar track */
}

.navbar-mobile .notification{
  display: none;
}
.dropdown button{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 0px;
  margin: 5px;
  padding-bottom: 4px;
}
.dropdown button:hover{
  color: red;
}
.defaultlang{
  color: red;
}

.languageflag{
  height: 20px;
  width: 20px;
  margin-left: 10px;
  overflow: hidden;
}
.languageflag img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.welcomenote{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 90px;
  height: 50px;
}
.welcomenote h4{
  white-space: nowrap;
  margin: 0px;
}

.searchdiv{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 45px;
  width: 60%;
}
.searchdiv input{
  width: 80%;
  padding-left: 10px;
  outline: none;
  border: none;
  background-color: rgba(128, 128, 128, 0.068);
}
.searchdiv button{
  width: 50px;
  min-width: 50px;
  font-size: 22px;
  margin-right: 7px;
  border: none;
  color: white;
  border-radius: 5px;
  background-color: #d9232d;
}
.searchdiv button:hover{
  width: 50px;
  min-width: 50px;
  font-size: 22px;
  margin-right: 7px;
  border: none;
  color: white;
  background-color: blue;
}

/* clinic buttons */
.clinicbuttons{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 0px;
  justify-content: space-between;
}
.buttonshead{
  margin: 30px 0px 10px 0px;
}
.clinicbuttons button{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 200px;
  max-height: 200px;
  width: 20%;
  border: none;
  overflow: hidden;
  border-radius: 8px;
}
.clinicicon{
  height: 95px;
  width: 70px;
  margin-top: 7px;
}
.clinicicon p{
  margin: 0px;
}
.cliniciconimage{
  height: 70px;
  width: 70px;
  overflow: hidden;
}
.cliniciconimage img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.clinicbuttondetails{
  padding: 5px;
}
.clinicbuttondetails p{
  margin: 0px;
  font-size: 14px;
  max-height: 42px;
  overflow: hidden;
}
.sukari{
  background-color: rgba(255, 217, 0, 0.247);
}
.dawa{
  background-color: rgba(0, 0, 255, 0.096);
}
.insulin{
  background-color: #d9232c15;
}
.chakula{
  background-color: rgba(0, 255, 0, 0.164);
}
.clinicdays{
  display: flex;
  flex-direction: column;
  height: auto;
  overflow: hidden;
  margin-top: 20px;
  border-radius: 10px;
  background-color: rgba(233, 231, 252, 0.705);
}
.counterclinic{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px;
}
.countertop{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding: 10px 10px 10px 60px;
}
.dayscounterresponsiv{
  text-align: center;
  padding: 0px;
  font-family:'Roboto', sans-serif;
}
.dayscounterresponsiv h2{
  font-size: 60px;
  font-weight: 700;
  font-family:'Roboto', sans-serif;
}
.dayscounterresponsiv p{
  margin: 0px;
}
.progresscontainer span{
  font-size: 30px;
  color: #d9232d;
}
.clinicdetails{
  display: flex;
  flex-direction: column;
  margin-left: 40px;
}
.clinicdetails p{
  margin: 3px;
}
.clinicdetails button{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 3px;
  padding: 5px 12px 5px 12px;
  background-color: rgba(255, 217, 0, 0.219);
  border-radius: 6px;
  width: 200px;
  border: none;
}
.clinicbuttons a{
  color: black;
}
.clinicdetails i{
  margin-right: 10px;
  color: blue;
}
.clinicinfo input{
  border-color: #d127274f;
}
.clinicinfo select{
  border-color: #d127274f;
}

/*progress bar*/
.progressbar{
  align-self: flex-start;
  height: 3px;
  width: 0;
  background: linear-gradient(to right, #ecad00, #ff0000); 
}


















@media (max-width: 991px) {
  
    .welcomenote{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      margin-top: 90px;
      height: auto;
    }
    .searchdiv{
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      height: 45px;
      width: 100%;
      margin-top: 10px;
    }
    .searchdiv input{
      width: 100%;
      padding-left: 10px;
      outline: none;
      border: none;
      background-color: rgba(128, 128, 128, 0.068);
    }
    .clinicbuttons button{
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      height: 200px;
      max-height: 200px;
      width: 23%;
      border: none;
      overflow: hidden;
      border-radius: 8px;
    }
    .clinicicon{
      height: 85px;
      width: 70px;
      margin-top: 7px;
    }
    .cliniciconimage{
      height: 60px;
      width: 60px;
      overflow: hidden;
    }
    .clinicbuttondetails p{
      margin: 0px;
      font-size: 14px;
      overflow: hidden;
      max-height: 45px;
    }
    
}

@media (max-width: 764px) {
  .sukarilevel{
    width: 50%;
  }
  .dayscounterresponsiv p{
    margin: 0px;
    font-size: 13px;
  }
  .dayscounterresponsiv h2{
    font-size: 30px;
    margin: 0px;
    font-weight: 700;
    font-family:'Roboto', sans-serif;
  }
  .countertop{
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 3px 10px 10px;
  }
  .progress-container {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
      max-width: 100px;
      max-height: 100px;
      background: #f0f0f0;
      border-radius: 50%;
      overflow: hidden;
  }
  .progresscontainer span{
    font-size: 20px;
    color: #d9232d;
    margin: 0px;
  }
  .progresscontainer h4{
    line-height: 15px;
  }
  .clinicdetails p{
    margin: 3px;
    font-size: 13px;
  }
  .progresscontainer b{
    text-align: center;
    font-size: 15px;
    margin: 0px;
  }
  .progresscontainer h4{
    text-align: center;
    margin: 0px;
  }
  .welcomenote{
    display: flex;
    margin-top: 65px;
  }
  .welcomenote h4{
    white-space: wrap;
    margin: 0px;
  }
  .searchdiv input{
    width: 100%;
    padding-left: 10px;
    outline: none;
    border: none;
    background-color: rgba(128, 128, 128, 0.068);
  }
  .searchdiv{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 45px;
    width: 100%;
    margin-top: 0px;
  }
  .clinicbuttons{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 0px;
    justify-content: space-between;
  }
  .buttonshead{
    margin: 30px 0px 7px 0px;
    font-size: 13px;
  }
  .clinicbuttons button{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 200px;
    max-height: 200px;
    width: 48.5%;
    margin-bottom: 10px;
    border: none;
    overflow: hidden;
    border-radius: 8px;
  }
  .clinicicon{
    height: 85px;
    width: 70px;
    margin-top: 7px;
  }
  
  .cliniciconimage{
    height: 60px;
    width: 60px;
    overflow: hidden;
  }
  .homelogo{
    font-size: 22px !important;
  }
  .mobilehomeheader{
    background: white;
    transition: all 0.5s;
    z-index: 997;
    padding: 10px 0 !important;
  }
  .notificationsection{
    display: flex;
    flex-direction: column;
    width: 350px;
    min-width: 350px;
    height: 100%;
    overflow-y: scroll;
    margin-top: 60px;
    padding: 5px 5px 100px 5px;
    background-color: white;
  }
    .container h4{
        font-family:'Roboto', sans-serif;
        margin-bottom: 15px;
        font-size: 25px;
    }
    .topic{
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: center;
        height: 300px;
        width: 250px;
        max-height: 300px;
        max-width: 250px;
        border-radius: 10px;
        overflow: hidden;
        cursor: pointer;
        box-shadow: 0px 0px 7px rgba(0, 0, 0, 0);
    }
    .titlediv{
        display: flex;
        position: absolute;
        width: 250px;
    }
    
  
}
@media (max-width: 575px) {
  .clinicdetails p{
    margin: 3px;
    font-size: 12px;
    line-height: 15px;
  }
  .clinicdetails{
    display: flex;
    flex-direction: column;
    margin-left: 7px;
  }
  .notifydetails{
    font-size: 13px;
    line-height: 18px;
    margin-top: 0px;
    margin-bottom: 5px;
  }
  .clinicdetails button{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 3px;
    font-size: 12px;
    background-color: rgba(255, 217, 0, 0.219);
    border-radius: 6px;
    width: 150px;
    border: none;
  }

  .notificationhead b{
    font-size: 13px;
  }
  .notificationhead em{
    font-size: 11px;
  }
    .container h4{
        font-family:'Roboto', sans-serif;
        margin-bottom: 15px;
        font-size: 20px;
    }
    .slide{
        margin-bottom: 40px;
    }
    .topic{
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: center;
        height: 250px;
        width: 200px;
        max-height: 300px;
        max-width: 250px;
        border-radius: 10px;
        overflow: hidden;
        cursor: pointer;
        box-shadow: 0px 0px 7px rgba(0, 0, 0, 0);
    }
    .titlediv{
        display: flex;
        position: absolute;
        z-index: 2;
        width: 200px;
    }
    .topic p{
        margin: 0px 5px 10px 5px;
        line-height: 19px;
        font-size: 16px;
    }
    .mobilenav{
        display: flex;
        position: fixed;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        height: 46px;
        bottom: 0px;
        background-color: white !important;
        z-index: 1000;
    }
    .mobilenav button{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
        width: 50px;
        border: none;
        background-color: transparent;
    }
    .mobilenav button i{
        font-size: 20px;
        margin-top: 5px;
        color:#d12727 !important;
        filter: opacity(60%);
    }
    .profileimagenav{
      overflow: hidden;
      width: 23px;
      height: 23px;
      margin-top: 2px;
      border-radius: 50%;
    }
    .profimage{
      overflow: hidden;
      border-radius: 50%;
      width: 23px;
      height: 23px;
      max-width: 23px;
      max-height: 23px;
    }
    .profimage img{
      display: flex;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .mobilenavselected i{
        font-size: 20px;
        margin-top: 4px;
        filter: opacity(100%) !important;
    }
    .mobilenav button p{
        font-size: 10px;
        justify-self: center;
        margin: 0px 0px 0px 0px;
    }
    .breadcrumbs h2 {
        font-size: 22px;
        font-weight: 400;
        margin: 0;
      }
      .comment-img {
        margin-right: 7px;
        overflow: hidden;
        width: 30px;
        border-radius: 50%;
        min-width: 30px;
        height: 30px;
        min-height: 30px;
        
      
      }
      .blog .blog-comments .comment.comment-reply {
        padding-left: 20px;
      }
      .blog .blog-comments {
        margin-top: 10px;
        padding: 0px !important;
        box-shadow: 0 4px 16px rgba(0, 0, 0, 0);
      }
      .blog .entry {
        padding: 0px;
        margin-bottom: 60px;
        box-shadow: 0 4px 16px rgba(0, 0, 0, 0);
      }
      .clinicbuttons button{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        height: 110px;
        max-height: 110px;
        width: 24.3%;
        margin-bottom: 10px;
        border: none;
        overflow: hidden;
        border-radius: 6px;
      }
      .clinicicon{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 45px;
        width: 70px;
        margin-top: 4px;
      }
      
      .cliniciconimage{
        height: 27px;
        width: 27px;
        overflow: hidden;
      }
      .clinicbuttondetails p{
        margin: 0px;
        font-size: 8px;
        overflow: hidden;
        max-height: 26px;
      }
      .clinicbuttondetails{
        padding: 0px;
        margin-top: 4px;
      }
      .clinicicon p{
        margin: 0px;
        font-size: 12px;
      }
      .clinicbuttondetails em{
        font-size: 7px;
      }
      
      
}
@media (max-width: 450px) {
  .countertop{
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 3px 10px 10px;
  }
  .notificationsection{
    display: flex;
    flex-direction: column;
    width: 300px;
    min-width: 300px;
    height: 100%;
    overflow-y: scroll;
    padding: 0px 5px 100px 5px;
    background-color: white;
  }
    .topic{
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: center;
        height: 200px;
        width: 150px;
        max-height: 300px;
        max-width: 250px;
        border-radius: 10px;
        overflow: hidden;
        cursor: pointer;
        box-shadow: 0px 0px 7px rgba(0, 0, 0, 0);
    }
    .titlediv{
        display: flex;
        position: absolute;
        z-index: 2;
        width: 150px;
    }
    .topic p{
        font-size: 13px;
        line-height: 16px;
    }
    .splide__arrow--prev{
        margin-left: 0px;
        height: 20px;
        font-size: 10px;
    }
    .splide__arrow--next{
        margin-left: 0px;
        height: 20px;
        font-size: 10px;
    }
   
}

@media (max-width: 900px) and (min-width: 764px) {
    .container h4{
        font-family:'Roboto', sans-serif;
        margin-bottom: 15px;
        font-size: 25px;
    }
    
}

/*library queries*/
@media (max-width: 1400px) and (min-width: 1199px) {
 
  
}
@media (max-width:1199px) and (min-width:991px) {
  /*library*/
  .librarydiv{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 16px;
    
  }
  .librarytopic{
    display: none;
    flex-direction: column;
    justify-content: end;
    height: auto;
    width: 32%;
    min-width: 250px;
    overflow: hidden;
    cursor: pointer;
  }
  .librarytopictitle p{
    margin: 5px 5px 5px 0px;
    white-space: nowrap;
    line-height: 26px;
    font-size: 16px;
    overflow: ellipsis;
    color: rgb(54, 54, 54);
  }
  .librarytopicimage{
    height: 300px;
    max-height: 300px;
    width: 100%;
    overflow: hidden;
    border-radius: 0px;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.3);
    z-index: 0;
  }
  .librarytopicimage img{
    height: 100%;
    width: 100%;
    object-fit: cover;
  }



}

@media (max-width:991px) and (min-width:767px) {
  .librarydiv{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 12px;
    
  }
  .librarytopic{
    display: none;
    flex-direction: column;
    justify-content: end;
    height: auto;
    width: 32%;
    max-height: 240px;
    min-width: 220px;
    overflow: hidden;
    cursor: pointer;
  }
  .librarytopictitle p{
    margin: 5px 5px 5px 0px;
    white-space: nowrap;
    line-height: 26px;
    font-size: 16px;
    overflow: ellipsis;
    color: rgb(54, 54, 54);
  }
  .librarytopicimage{
    height: 240px;
    max-height: 240px;
    width: 100%;
    overflow: hidden;
    border-radius: 0px;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.3);
    z-index: 0;
  }
  .librarytopicimage img{
    height: 100%;
    width: 100%;
    object-fit: cover;
  }


}

@media (max-width:767px) and (min-width:575px) {
  .librarydiv{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 12px;
    
  }
  .librarytopic{
    display: none;
    flex-direction: column;
    justify-content: end;
    height: auto;
    width: 24%;
    min-width: 250px;
    overflow: hidden;
    cursor: pointer;
  }
  .librarytopictitle p{
    margin: 5px 5px 5px 0px;
    white-space: nowrap;
    line-height: 26px;
    font-size: 16px;
    overflow: ellipsis;
    color: rgb(54, 54, 54);
  }
  .librarytopicimage{
    height: 300px;
    max-height: 300px;
    width: 100%;
    overflow: hidden;
    border-radius: 0px;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.3);
    z-index: 0;
  }
  .librarytopicimage img{
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  
  }
  

  @media (max-width:575px) and (min-width:480px) {
    .librarydiv{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
      row-gap: 20px;
      column-gap: 1px;
      
    }
    .librarytopic{
      display: none;
      flex-direction: column;
      justify-content: end;
      height: auto;
      width: 48.5%;
      min-width: 220px;
      overflow: hidden;
      cursor: pointer;
    }
    .librarytopictitle p{
      margin: 5px 5px 5px 0px;
      white-space: nowrap;
      line-height: 26px;
      font-size: 16px;
      overflow: ellipsis;
      color: rgb(54, 54, 54);
    }
    .librarytopicimage{
      height: 250px;
      max-height: 250px;
      width: 100%;
      overflow: hidden;
      border-radius: 0px;
      box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.3);
      z-index: 0;
    }
    .librarytopicimage img{
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
    
  
    
    }
    @media (max-width:575px) {
      .comentsectiondiv{
        display: flex;
        flex-direction: column;
        padding-left: 30px;
        height: auto;
        width: 100%;
      }
    }

    @media (max-width:480px) and (min-width:405px) {
      .librarydiv{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        row-gap: 20px;
        
      }
      .librarytopic{
        display: none;
        flex-direction: column;
        justify-content: end;
        height: auto;
        width: 48%;
        min-width: 100px;
        overflow: hidden;
        cursor: pointer;
      }
      .librarytopictitle p{
        margin: 5px 5px 5px 0px;
        white-space: nowrap;
        line-height: 26px;
        font-size: 12px;
        overflow: ellipsis;
        color: rgb(54, 54, 54);
      }
      .librarytopicimage{
        height: 220px;
        max-height: 220px;
        width: 100%;
        overflow: hidden;
        border-radius: 0px;
        box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.3);
        z-index: 0;
      }
      .librarytopicimage img{
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
      
    
      
      }
    
      @media (max-width:405px) and (min-width:340px) {
        .librarydiv{
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          flex-wrap: wrap;
          row-gap: 20px;
          
        }
        .librarytopic{
          display: none;
          flex-direction: column;
          justify-content: end;
          height: auto;
          width: 47.5%;
          min-width: 100px;
          overflow: hidden;
          cursor: pointer;
        }
        .librarytopictitle p{
          margin: 5px 5px 5px 0px;
          white-space: nowrap;
          line-height: 26px;
          font-size: 12px;
          overflow: ellipsis;
          color: rgb(54, 54, 54);
        }
        .librarytopicimage{
          height: 200px;
          max-height: 200px;
          width: 100%;
          overflow: hidden;
          border-radius: 0px;
          box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.3);
          z-index: 0;
        }
        .librarytopicimage img{
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      
        
        }

        @media (max-width:340px) and (min-width:0px) {
          .notificationsection{
            display: flex;
            flex-direction: column;
            width: 80%;
            height: 100%;
            overflow-y: scroll;
            padding: 15px 5px 100px 5px;
            background-color: white;
          }
          .closenotify{
            height: 100%;
            width: 20%;
            background-color: rgba(255, 255, 255, 0);
          }
          .librarydiv{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
            row-gap: 20px;
            
          }
          .librarytopic{
            display: none;
            flex-direction: column;
            justify-content: end;
            height: auto;
            width: 100%;
            min-width: 100px;
            overflow: hidden;
            cursor: pointer;
          }
          .librarytopictitle p{
            margin: 5px 5px 5px 0px;
            white-space: nowrap;
            line-height: 26px;
            font-size: 12px;
            overflow: ellipsis;
            color: rgb(54, 54, 54);
          }
          .librarytopicimage{
            height: 300px;
            max-height: 300px;
            width: 100%;
            overflow: hidden;
            border-radius: 0px;
            box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.3);
            z-index: 0;
          }
          .librarytopicimage img{
            height: 100%;
            width: 100%;
            object-fit: cover;
          }
          .clinicbuttons button{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            height: 150px;
            max-height: 150px;
            width: 24%;
            margin-bottom: 10px;
            border: none;
            overflow: hidden;
            border-radius: 8px;
          }
        }
        
          @media (max-width:270px) and (min-width:0px) {
          
            .commentsbuttons button{
              border: none;
              background-color: transparent;
              font-size: 0px;
            }
        }
  












  /*dark mode*/
  /* implementing dark mode*/
:root {
  --text-color-light: black;
  --text-color-grey: #556270;
  --text-color-productbackground: rgba(0, 0, 0, 0);
  --bg-color-light: white;
  --bg-color-filter: rgba(128, 128, 128, 0.226);
  --bg-color-filterbutton: rgba(128, 128, 128, 0.226);
  --bg-color-filterbuttonborder: rgba(0, 0, 0, 0.349);
  --text-color-dark: white;
  --bg-color-dark: #333;
}
#header{
  color: var(--text-color-light);
  background-color: var(--bg-color-light) ;
}
.navbar a, .breadcrumbs, .entry-title, .lessondetails p,  .changecode, .lessontitle i, .navbar {
  color: var(--text-color-light) !important;
  background-color: var(--bg-color-light) ;
}
.lessondetailsdiv p, .lessondetailsdiv h4, .nexttopichead, .nexttopicdetails{
  color: var(--text-color-light) !important;
}
#header .logo a, .navbar-mobile ul, .authorname{
  color: var(--text-color-light);
  background-color: var(--bg-color-light) ;
}
.search-form input, .php-email-form input{
  color: var(--text-color-light) !important;
  background-color: var(--bg-color-light) ;
}

body {
  color: var(--text-color-light);
  background-color: var(--bg-color-light) ;
  transition: color 0.3s, background-color 0.3s;
}






.dark-mode {
  --text-color-light: white;
  --text-color-grey: white;
  --text-color-orange: white;
  --text-color-productbackground: rgba(0, 0, 0, 0.76);
  --bg-color-filter: rgba(128, 125, 125, 0.801);
  --bg-color-filterbutton: rgba(128, 125, 125, 0.801);
  --bg-color-filterbuttonborder: rgba(228, 228, 228, 0.5);
  --bg-color-light: #333;
  --text-color-dark: black;
  --bg-color-dark: white;
}







/*progress bar*/
.progress-container {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
    width: 200px;
    height: 200px;
    background: #f0f0f0;
    border-radius: 50%;
    overflow: hidden;
}

.progress-bar {
  left: 0px;
  height: 100%;
  width: 100%;
  border: 1px solid rgb(219, 219, 219);
  border-radius: 50%;
  background: conic-gradient(
        from 0deg, 
        #ffffff,
        #ffdc6b,
        #d12727,
        #ff0000
    );
    transform: rotate(180deg);
    transition: width 0.5s ease;
}
.progresscontainer{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  height: 80%;
  width: 80%;
  border: 1px solid rgba(148, 148, 148, 0.082);
  border-radius: 50%;
  background-color: rgb(233, 231, 252);
  z-index: 4;
}


.walls {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 128, 0, 0);
    z-index: 3;
}
.walldivs{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.wall{
    position: absolute;
    width: 40px; /* Adjust the size of the square */
    height: 40px; /* Adjust the size of the square */
    background-color: #e74c3c; /* Adjust the background color of the square */
    transform: translate(-50%, -50%) rotate(0deg); /* Position and rotate the square */
}

.wall:nth-child(1) { 
  top: 15px; left: 48%;
  background-color: rgb(255, 255, 255);
 }
 .wall:nth-child(11) { 
  top: 0px; left: 55%;
  background-color: #ffffff;
    transform: rotate(100deg);
 }
 .wall:nth-child(12) { 
  top: 15px; left: 70%;
  background-color: #ffffff;
    transform: rotate(120deg);
 }
 .wall:nth-child(13) { 
  top: 45px; left: 80%;
  background-color: #ffffff;
    transform: rotate(140deg);
 }
.wall:nth-child(2) { 
  top: 47%; right: -25px;
  background-color: rgb(255, 255, 255);
 }
 .wall:nth-child(14) { 
  top: 57%; right: 0px;
  background-color: rgb(255, 255, 255);
    transform: rotate(90deg);
 }
 .wall:nth-child(15) { 
  top: 72%; right: 10px;
  background-color: rgb(255, 255, 255);
    transform: rotate(120deg);
 }
 .wall:nth-child(16) { 
  top: 82%; right: 43px;
  background-color: rgb(255, 255, 255);
    transform: rotate(140deg);
 }
.wall:nth-child(3) {
  width: 70px;
  height: 70px;
  background-color: rgb(255, 255, 255);
  transform: rotate(45deg);
   bottom: -26px; left: 35%;
   }
   .wall:nth-child(5) {
  background-color: rgb(255, 255, 255);
  transform: rotate(45deg);
   bottom: 5px; left: 22%;
   }
   .wall:nth-child(6) {
    background-color: rgb(255, 255, 255);
    transform: rotate(40deg);
    bottom: 24px; left: 6%;
    }
    .wall:nth-child(7) {
    background-color: rgb(255, 255, 255);
    transform: rotate(60deg);
    bottom: 54px; left: -2%;
    }
.wall:nth-child(4) {
   top: 40%; left: -9px;
   background-color: rgb(255, 255, 255);
    transform: rotate(75deg);
   }
   .wall:nth-child(8) {
   top: 23%; left: -3px;
   background-color: #ffffff;
    transform: rotate(95deg);
   }
   .wall:nth-child(9) {
   top: 8%; left: 18px;
   background-color: #ffffff;
    transform: rotate(110deg);
   }
   .wall:nth-child(10) {
   top: 0%; left: 45px;
   background-color: #ffffff;
    transform: rotate(130deg);
   }
















